# Global options (optional for logs)
{
  email isak@flourishing.se
}

admin.hobbyhosting.org {
  reverse_proxy admin_frontend:3000
}

hobbyhosting.org {
  reverse_proxy hobbyhosting_frontend:3000
}

mail.hobbyhosting.org {
  reverse_proxy mail_service:5000
}

auth.hobbyhosting.org {
  reverse_proxy auth_service:8000
}
