# Global options (optional for logs)
{
  email isak@flourishing.se
}

admin.hobbyhosting.org {
  reverse_proxy admin_frontend:3000
}

hobbyhosting.org {
  reverse_proxy hobbyhosting_frontend:3000
}

mail.hobbyhosting.org {
  reverse_proxy mail_service:5000
}

auth.hobbyhosting.org {
  header {
    Access-Control-Allow-Origin "https://hobbyhosting.org"
    Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Access-Control-Allow-Headers "Content-Type, Authorization"
    Access-Control-Allow-Credentials "true"
    defer
  }
  reverse_proxy auth_service:8000
}

ecom.hobbyhosting.org {
  # Route API requests to the backend
  handle_path /api/* {
    uri strip_prefix /api
    reverse_proxy ecom_backend:8000
  }

  # Route all other requests to the frontend
  handle {
    reverse_proxy ecom_frontend:3000
  }
}

sync.hobbyhosting.org {
  reverse_proxy admin_sync_service:8000
}
